h1 {
    color: #004B8D;  /* Dark blue for major titles */
}

h2 {
    color: #CE1141;   /* Dark red for minor titles */
}

span.eqno {
    float: right;      /* places the number on the right margin */
    margin-left: 0.5em;
}